

#topHeroText {
  font-size: 400%;
  font-family: 'Abril Fatface', cursive;
color: #E6D5BE;
padding-left: 12px;

}

  #bottomHeroText {
    font-size: 200%;
    font-family: 'Poppins', sans-serif;
    width: auto;
    padding-left: 12px;
    color:whitesmoke

}



#textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.mask {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#brand {
  font-size: 200%;
  font-family: 'Qwitcher Grypen', cursive;
  font-weight: bolder;

  color: #708A99
}

#navBar {
  background-color: #E6D5BE;
  padding-bottom: 16px;

}

#headerLinks {
  color: rgb(62, 110, 110);
  font-size: 125%;
font-family: 'Poppins', sans-serif;
}

#headerButton {
  background-color: #E6D5BE;
  border: 6px solid #708A99
;
  color: #708A99;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;

}

#footer {
  background-color: #E6D5BE;
  color: #708A99;
}

#secondLayer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  color: #E6D5BE;
  background-color: #708A99;
  padding: 5px
}

#sectionHolder  {background-color: #708A99;
}

#leftDiv, #rightText {
  padding: 10px;
  width: 100%;
}

#contactForm {
  display: flex;
  flex-direction: column;
  border:  #def2f1 solid 10px;
  margin: 10px;
  padding: 30px;
  margin-right: 17%;
  margin-left: 17%;

}

label {
  color: #E6D5BE;
  font-size: larger;
}

h6 {
  font-family: 'Poppins', sans-serif;
  color: #3e5969;
  text-decoration: underline;
  font-size: 200px;
}

/* li, p {
  color: #708A99;
  font-family: 'Source Serif Pro', serif;

} */

#footText {
  color: #708A99;
  font-family: 'Source Serif Pro', serif;

}

#segmentGroup {
  color: whitesmoke;
  background-color: #708A99;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;


}

#segment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  text-align: center;

}